// you can custom css vars here
:root {
    // 白天模式下文章框的底色
    --va-c-bg-light: rgba(255, 255, 255, 0.8);
}

// 页眉页脚渐变色
// .yun-page-header-gradient {
//     background: linear-gradient(to right,rgba(255, 237, 170, 0.2) 0,rgba(255, 254, 173, 0.2) 100%);
// }
// .yun-footer-gradient {
//     height: 130px;
//     background: linear-gradient(to right,rgba(255, 237, 170, 0.2) 0,rgba(255, 254, 173, 0.2) 100%);
// }

// 夜晚模式
html.dark {
    --va-c-bg-light:rgba(5, 16, 29, 0.8);
    .yun-page-header-gradient {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
    }
    .yun-footer-gradient {
        height: 130px;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
    }
}

// 首页大字两边的背景
.char-left {
    border-right:0px solid rgba(255,255,255, 0)
}
.char-right {
    border-left:0px solid rgba(255,255,255, 0)
}

// // b站视频大小
// iframe.bilibili-video {
//   width: 100%;
//   max-width: 800px;
//   aspect-ratio: 16/9;
// }

/* 在你的博客主题CSS文件中添加这些规则 */
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 比例 (9 / 16 * 100%) - 根据视频实际比例调整 */
    overflow: hidden;
    background-color: black;
    margin-bottom: 20px; /* 可选：在视频下方留白 */
    border-radius: 5px; /* 可选：圆角 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

